*{
    margin: 0;
    border: border-box;
    line-height: 1.2;
}

body {
  font-family: Arial, sans-serif;
  color: #E0E0E0;
  background-color: #1E1E1E;
}


/*  Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: #1E1E1E;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #BB86FC;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 18px;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #007BFF;
}

@media (max-width: 768px) {
  .menu {
      display: none;
  }
}


/* Hero Section Styles */
#start {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #121212, #1A1A1A);
  padding: 20px;
  box-sizing: border-box;
}

.hero {
  text-align: center;
}

.hero h1 {
  margin-top: 30px;
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #00ADB5, #00FF7F);
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #BB86FC;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #BB86FC; 
  animation: blink 0.6s step-end infinite alternate;
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: #BB86FC; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#start {
  animation: fadeIn 1s ease-in-out;
}


/*  About Section Style  */
.about {
  margin-top: 50px;
  padding: 50px 20px;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: gradientAnimation 8s ease infinite;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);
  position: relative;
  animation: fadeInUp 1s ease-out forwards;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.text-content {
  flex: 1;
  text-align: left;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.resume-btn {
  background: #BB86FC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
}

.resume-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(187, 134, 252, 0.5);
}

.resume-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.resume-popup img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.2);
  animation: zoomIn 0.5s ease-out;
}

@keyframes zoomIn {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .about-content {
      flex-direction: column;
      text-align: center;
  }
  .profile-image {
      width: 200px;
      height: 200px;
  }
}


/*  Skill Section Style  */
.skills-section {
  background: linear-gradient(135deg, #121212, #1E1E1E);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.3rem;
  text-align: center;
  color: #BB86FC;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.skills-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.skill-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #BB86FC;
  width: 0; 
  border-radius: 5px;
  transition: width 1.5s ease-out;
}


/*  Achievements Section Style   */
.achievement-section {
  background: linear-gradient(135deg, #121212, #1A1A1A);
  color: white;
  padding: 60px 20px;
  font-family: 'Arial', sans-serif;
}

.section-title {
  font-size: 2.3rem;
  text-align: center;
  color: #BB86FC;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.achievement-timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding-left: 20px;
}

.achievement-timeline::before {
  content: '';
  position: absolute;
  left: 51%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #BB86FC;
  transform: translateX(-50%);
}

.achievement-item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
}

.achievement-item.left {
  flex-direction: row;
}

.achievement-item.right {
  flex-direction: row-reverse;
}

.achievement-item::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #BB86FC;
  border-radius: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.achievement-content {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 45%;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.8;
  z-index: 2;
}

.achievement-content h3 {
  font-size: 1.5rem;
  color: #BB86FC;
  margin-bottom: 10px;
}

.achievement-content p {
  color: #EAEAEA;
  margin: 0;
}

.achievement-image img,
.achievement-images-group img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0.5rem;
}

.achievement-image img:hover,
.achievement-images-group img:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
}

.achievement-images-group {
  display: flex;
  gap: 15px;
  z-index: 2;
}

.achievement-images-group img {
  width: 100%;
  max-width: 150px;
}

.achievement-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.achievement-button {
  text-align: center;
  margin-top: 40px;
}

.achievement-button button {
  background-color: #BB86FC;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.achievement-button button:hover {
  background-color: #9A69D1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.cert-popup {
  cursor: pointer;
}

.cert-popup:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .section-title {
      font-size: 1.8rem;
  }

  .achievement-content {
      max-width: 100%;
      font-size: 1rem;
      text-align: justify;
  }

  .achievement-timeline::before {
      left: 10px;
      transform: none;
  }

  .achievement-item {
      flex-direction: column;
      gap: 20px;
      padding-left: 20px;
  }

  .achievement-item::before {
      left: 10px;
  }

  .achievement-image img,
  .achievement-images-group img {
      max-width: 100%;
  }
}

/* Tablet Styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-title {
      font-size: 2rem;
  }

  .achievement-timeline::before {
      left: 50%;
  }

  .achievement-content {
      max-width: 60%;
      font-size: 1.1rem;
  }

  .achievement-item {
      flex-direction: row;
      gap: 20px;
  }

  .achievement-item.left {
      flex-direction: row;
  }

  .achievement-item.right {
      flex-direction: row-reverse;
  }
}


/*   Project Section Style  */
.projects-section {
  background-color: #121212;
  color: white;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in;
  min-height: 400px;
}

.projects-section.visible {
  opacity: 1;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.project-card {
  background-color: #1E1E1E;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease;
}

.project-card.visible {
  opacity: 1;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-details {
  padding: 20px;
}

.project-details h3 {
  font-size: 1.8rem;
  color: #BB86FC;
}

.project-details p {
  font-size: 1rem;
  margin: 10px 0;
  color: #bbb;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.project-buttons button {
  background-color: #BB86FC;
  height: 10%;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-code{
  margin-right: 2rem ;
}

.project-buttons button:hover {
  background-color: #9A69D1;
}

.button-container {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1.2rem;
  color: #FFFFFF;
  background: #BB86FC;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: #9B6ED6;
  /* transform: translateY(-3px); */
}

/*  contact section style  */
#contact {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 50px 30px;
}

#contact .heading {
  font-size: 2.5rem;
  color: #BB86FC;
  margin-bottom: 30px;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 1.2rem;
  padding: 15px;
  border: 1px solid #BB86FC;
  border-radius: 8px;
  background-color: #1E1E1E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.contact-item i {
  font-size: 1.5rem;
  color: #BB86FC;
}

.contact-item a {
  text-decoration: none;
  color: #BB86FC;
  transition: color 0.3s ease;
}

.contact-item a:hover {
  color: #9A69D1;
}


#footer{
  text-align: center;
  height: 10vh;
}

#footer p{
  padding-top: 1rem;
}